
.popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: grid;
    place-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out opacity;
    z-index: 100;

}
.popup-content {
    width: clamp(300px, 90vw, 500px);
    background-color: #fff;
    padding: clamp(1.5rem, 100vw, 2rem);
    text-align: justify;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    border-radius: .5em;
    opacity: 0;
    transform: translateY(20%);
    transition: 200ms ease-in-out opacity,
                200ms ease-in-out transform;
    position: relative;
}
.popup-content div {
    position: absolute;
    top: 2rem;
    right: 2rem;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}
.popup-content div:active {
    transform: scale(.9);
}

.popup-content h2{
    padding-bottom: 1.5rem;

}

.popup a{
    padding-top: 1.5rem;
    color:red;
}


.showPopup {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}